{% load static %}
        <!-- # site header 
        ================================================== -->
        <header class="s-header">

            <div class="row s-header__inner width-sixteen-col">

                <div class="s-header__block">
                    <div class="s-header__logo">
                        <!-- <a class="logo" href="{% url 'landing' %}">
                            <img src="{% static 'images/logo.svg' %}" alt="Homepage">
                        </a> -->
                    </div>
                    
                    <a class="s-header__menu-toggle" href="#0"><span>Menu</span></a>
                </div> <!-- end s-header__block -->
                
                <nav class="s-header__nav">
                    <h3 style="color: var(--color-3); margin: 0;">Adam</h3>

                    <ul class="s-header__menu-links">
                        <li><a href="#about">Profil</a></li>
                        <li><a href="#berita">Berita</a></li>
                        <li><a href="#clients">Buku Tamu</a></li>
                        <li><a href="#form">Form Tamu</a></li>
                        <!-- <li><a href="blog.html">Journal</a></li>
                        <li><a href="contact.html">Contact</a></li> -->
                    </ul> <!-- s-header__menu-links -->

                    <div class="s-header__contact">
                        <a href="contact.html" class="btn btn--primary s-header__contact-btn">Hubungi Saya</a>
                    </div> <!-- s-header__contact -->

                </nav> <!-- end s-header__nav -->

            </div> <!-- end s-header__inner -->

        </header> <!-- end s-header -->